# Site settings
title: open.USA.gov
description: "U.S. Government initiatives on openness, transparency and public participation."
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://example.gov" # the base hostname & protocol for your site

analytics:
  google:
    code: 'UA-42145528-5' # Change this to your GSA analytics code
  dap:
    agency: GSA    # Change this to your agency
    subagency: OPP # Change this to your agency

defaults:
 -
  scope:
    path: "" # an empty string here means all files in the project
  values:
    layout:
      - home
      - page
      - "project-list"
      - project
      - "team-list"
      - team

# Build settings
markdown: kramdown
include:
  - _navigation.json
exclude:
  - CONTRIBUTING.md
  - LICENSE.md
  - README.md

# Inititalize project and team collections
collections:
  projects:
    output: true
  team:
    output: true