
<!-- begin footer container -->
 <footer class="usa-footer usa-footer-big" role="contentinfo">
  <h2 class="hidden-title">footer</h2>
   <!-- <div class="usa-grid usa-footer-return-to-top">
      <a href="#">Return to top</a>
    </div> -->

    <div class="usa-footer-secondary_section usa-footer-big-secondary-section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <a href="https://www.usa.gov">
          <img class="usa-footer-logo-img" src="https://www.usa.gov/sites/all/themes/usa/images/USAGOV.png" alt="USAGov Logo">
          </a>
          <!--<h3 class="usa-footer-logo-heading">USAgov</h3>-->
        </div>
        <div class="usa-footer-contact-links usa-width-one-half">
         <ul class="usa-unstyled-list">
            <li> <a href="https://www.facebook.com/USAgov"><img  class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Facebook.png" alt="Facebook"/></a> </li>
        <li> <a href="https://www.usa.gov/rss"><img class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_RSS.png" alt="RSS"/></a> </li>
        <li> <a href="https://www.snapchat.com/add/usagov"><img class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Snapchat.png" alt="Snapchat"/></a> </li>
        <li> <a href="https://twitter.com/USAgov"><img class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Twitter.png" alt="Twitter"/></a> </li>
        <li> <a href="https://www.youtube.com/usagov"><img class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Youtube.png" alt="YouTube"></a> </li>
        <li> <a href="https://www.instagram.com/usagov/"><img class="sm-image" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Connect_Instragram.png" alt="Instagram"></a> </li>
         </ul>
            <h3 class="usa-footer-contact-heading">Ask USAGov a Question</h3>
            <p><a href="https://www.usa.gov/phone">Call 1-844-USAGOV1 (1-844-872-4681)</a></p>
            <ul class="usa-unstyled-list noline">
              <li><a href="https://www.usa.gov/email">Email Us</a></li>
              <br>
              <li><a href="https://www.usa.gov/chat">Chat with Us</a></li>
    </ul>
        </div>
      </div>
    </div>
    
    <div class="footertagline">
    <!-- <section> -->
    <div class="tagline clearfix container">
      <p>Official Guide to Government Information and Services</p>
      <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
    </div>
  </footer>
<!-- end footer container -->