---
layout: base
---

<div class="opengov-landing">

    <article>

         <header>
            <h1>U.S. Open Government Initiatives</h1>            
        </header>

        <p>Initiatives on openness, transparency and public participation.</p>

        <ul>
          <li>2017-2019 National Action Plan for Open Government </li>
          <li><a href="{{ site.baseurl }}/assets/files/final_us_open_government_national_action_plan_3_0.pdf">2015-2017 National Action Plan for Open Government</a> / <a href="{{ site.baseurl }}/assets/files/new_nap_commitments_final.pdf">New Commitments</a> / <a href="{{ site.baseurl }}/assets/files/nap_3_self_assessment_final.pdf">Mid-term Self Assessment</a></li>
          <li><a href="https://petitions.whitehouse.gov">We the People</a> - Petition the White House on the Issues that Matter to You</li>
          <li><a href="https://www.data.gov">Data.gov</a> - Open data from across the U.S. Government</li>
          <li><a href="https://beta.usaspending.gov">USAspending.gov</a> - The official source of accessible, searchable and reliable spending data for the U.S. Government</li>
        </ul>  

    </article>

    <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>

</div>
