<!doctype html>
<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="refresh" content="0;URL='{{ page.redirect }}">

<meta name="google" value="notranslate">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>U.S. Open Government Initiatives &#124; open.USA.gov</title>


<link rel="apple-touch-icon-precomposed" href="https://www.usa.gov/sites/all/themes/usa/images/USA_Fav_Icon152_default.png">
<link rel="icon" sizes="16x16" href="https://www.usa.gov/sites/all/themes/usa/images/USA_Fav_Icon16.ico">
<link rel="icon" sizes="32x32" href="https://www.usa.gov/sites/all/themes/usa/images/favicon.ico">
<link rel="icon" sizes="152x152" href="https://www.usa.gov/sites/all/themes/usa/images/USA_Fav_Icon152_default.png">
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css" media="print" />

<style type="text/css" media="all">
@import url("{{ site.baseurl }}/assets/css/google-fonts.css");
</style>


<!--[if lt IE 9]>
  <script src="https://standards.usa.gov/assets/js/vendor/html5shiv.js"></script>
<![endif]-->


</head>


  <body class="{{ page.body-class }}">
  <div class="usa-overlay"></div>

    {% include header.html %}

<main id="content" role="main">
    <div class="container clearfix">

     <h1>Redirecting to <a href="page.redirect">{{ page.redirect }}</a></h1>

    </div>

  </main>

    {% include footer.html %}
    {% include javascript.html %}
  </body>
</html>