---
layout: base
---

<div class="opengov-landing">

    <article>

         <header>
            <h1>{{ page.title }}</h1>            
        </header>
<table>
    <tr>
        <th>Theme</th>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
    </tr>

    {% for commitment in site.sub %}
    <tr>
        <td>{{ commitment.commitment_theme_name }}</td>
        <td><a href="{{ site.baseurl | append: commitment.c_permalink }}">{{ commitment.commitment_detail_sub_id }}</a></td>
        <td>{{ commitment.title }}</td>        
        <td>{{ commitment.commitment_status }}</td>
    </tr>
    {% endfor %}
</table>

    </article>

    <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>

</div>
